@use "./base.scss";

.variable {
  color: var(--variable-color, #f38ba8);
  font-family: var(--codeFont);
  font-size: 0.9em;
}

code span.variable {
  color: var(--variable-color, #f38ba8) !important;
}

.combined-code-section {
  margin-top: 2rem;

  > hr {
    margin-bottom: 1rem;
  }

  > pre.combined-code-block > code {
    display: block;
    white-space: pre;
    counter-reset: none;
  }
}
